.input {

  margin-bottom: 5px;

  &.hidden {
    display: none;
  }

  input {
    border: 1px solid #cccccc;
    border-radius: 6px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0;

    @media (prefers-color-scheme: dark) {
      color: #f5f5f5;
      background-color: rgb(9, 17, 24)
    }

  }
}

.textarea {
  textarea {
    border: 1px solid #cccccc;
    border-radius: 6px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;

    @media (prefers-color-scheme: dark) {
      color: #f5f5f5;
      background-color: rgb(9, 17, 24)
    }
  }
}

select {
  option {
    margin: 5px 0;
  }
}

.details {
  font-size: 10px;
  color: #999999;
}

.submit {
  margin-top: 10px;
}