.input {
  input {
    border: 1px solid #cccccc;
    border-radius: 6px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0;
  }
  margin-bottom: 5px;

  &.hidden {
    display: none;
  }
}

.textarea {
  textarea {
    border: 1px solid #cccccc;
    border-radius: 6px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
  }
}

.details {
  font-size: 10px;
  color: #999999;
}

.submit {
  margin-top: 10px;
}
